{% extends "_header.html" %}
{% block content %}
<script type="text/javascript">
internalError('500');
</script>

<div class="ta-c bg-white">
  <img src="{{ url_for('static', filename='tv_error.png') }}">
  <div class="container_12 info-section ">
      <div class="grid_2">
          <i class="fa fa-info-circle fa-5x"></i>
      </div>
      <div class="grid_10">
          <span>
            There was an error and we are sorry about that ... you can always try something else from the menu. </br>
            We will fix this as soon as we can.
          </span>
      </div>
  </div>
</div>
{% endblock %}
