<html>
<head>
  <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--Load the CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/customgooglechart.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/720.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert/sweetalert.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

  <!-- Load the Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="{{ url_for('static', filename='js/customjs.js') }}"></script>
  <script src="{{ url_for('static', filename='js/airportcitylist.js') }}"></script>
  <script async type="text/javascript" src="{{ url_for('static', filename='sweetalert/sweetalert.min.js') }}"></script>

  <!-- Load the Javascript for Google Charts-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- Load the Javascript for Linkedin -->
  <script async type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81dtk3zyepc64m
    authorize: true
    onLoad: onLinkedInLoad
  </script>
  <script async type="text/javascript" src="{{ url_for('static', filename='js/sharelinkedin.js') }}"></script>


  <!-- start Mixpanel -->
  <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
  0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
  for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
  mixpanel.init("47f5a127413bbc146f50746083bcf1e6");
  </script>
  
  <script type="text/javascript">
  //custom fucntions for mixpanel
  var viewpage = window.location.href;
  mixpanel.track("Page view", {"Page":viewpage});
  </script>
  <!-- end Mixpanel -->

  <!-- resize the window mobile-->
  <script type="text/javascript">
  $(function(){
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
    var ww = ( $(window).width() < window.screen.width ) ? $(window).width() : window.screen.width; //get proper width
    var mw = 720; // min width of site
    var ratio =  ww / mw; //calculate ratio
    if( ww < mw){ //smaller than minimum size
     $('#Viewport').attr('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=yes, width=' + ww);
    }else{ //regular size
     $('#Viewport').attr('content', 'initial-scale=1.0, maximum-scale=2, minimum-scale=1.0, user-scalable=yes, width=' + ww);
    }
  }
  });
  </script>

  <meta name="robots" content="noindex">
</head>

<body>

  <div id="bottom_links" class="container_12">
    <a href="/views/_home">
      <div class="grid_2 home-mini-link " >
        <i class="fa fa-home fa-lg sky-blue"></i>
        <p class=" text-mini-icon p-5 grey"> home </p>
      </div>
    </a>
    <a href="/views/popularity_view">
      <div class="grid_1 home-mini-link" >
        <i class="fa fa-star fa-lg sky-blue"></i>
        <p class="text-mini-icon p-5 grey"> Popular O&D </p>
      </div>
    </a>
    <a href="/views/fastestgrowing_view">
      <div class="grid_1 home-mini-link " >
        <i class="fa fa-line-chart fa-lg sky-blue"></i>
        <p class="text-mini-icon p-5 grey"> Fastest growing </p>
      </div>
    </a>
    <a href="/views/trending_view">
      <div class="grid_1 home-mini-link " >
        <i class="fa fa-area-chart fa-lg sky-blue"></i>
        <p class="text-mini-icon p-5 grey"> Trends </p>
      </div>
    </a>
    <a href="/views/itineraries_view">
      <div class="grid_1 home-mini-link " >
        <i class="fa fa-map-signs fa-lg sky-blue"></i>
        <p class="text-mini-icon p-5 grey"> Itineraries </p>
      </div>
    </a>
    <a href="/views/newflights_view">
      <div class="grid_1 home-mini-link " >
        <i class="fa fa-plane fa-lg sky-blue"></i>
        <p class="text-mini-icon p-5 grey"> New Flights </p>
      </div>
    </a>
    <a href="/views/airport_view">
      <div class="grid_1 home-mini-link " >
        <i class="fa fa-bar-chart fa-lg sky-blue"></i>
        <p class="text-mini-icon p-5 grey"> Hub Graph </p>
      </div>
    </a>
    <a href="/views/catchment_view">
      <div class="grid_1 home-mini-link " >
        <i class="fa fa-bullseye fa-lg sky-blue"></i>
        <p class=" text-mini-icon p-5 grey ta-c"> Catchment area </p>
      </div>
    </a>
    <a href="/views/x__labs">
      <div class="grid_1 home-mini-link " >
        <i class="fa fa-flask fa-lg sky-blue"></i>
        <p class=" text-mini-icon p-5 grey"> Labs </p>
      </div>
    </a>
    <a href="/views/extract_view">
      <div class="grid_1 home-mini-link " >
        <i class="fa fa-database fa-lg sky-blue"></i>
        <p class=" text-mini-icon p-5 grey"> Data Sample </p>
      </div>
    </a>
  </div>
      <div>
      {% block content %}
      {% endblock %}
      <div class="ta-c">
        <script type="in/Login"></script>
      </div>
      </div>
</body>
</html>
